* {
    margin: 0;
}

.main {
    background-color: #F5F5F7;
}

nav {
    text-align: center;
    height: 72px;
}

.logo {
    display: inline-block;
    width: 110px;
    height: 29px;
    background-color: #F0EDFF;
    color: #5B47D1;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 20px;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    width: 749px;
    height: 29px;
}

nav li { 
    display: inline-block;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 24px;
}

.hero {
    background-image: url(e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    padding-top: 70px;
    
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
}

.hero h2 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    background-color: #FFFFFF;;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card-background {
    height: 240px; 
    width: 100%;
} 

.card-content {
    text-align: left;
    padding: 15px;
}

.purple { background-color: #E6E0FF;}
.pink {background-color: #FFD0E0;}
.blue {background-color: #C0DFFF;}
.green {background-color: #C0F0C0;}
.orange {background-color: #FFD5B5;}
.Pale-orange {background-color: #FFE5B5;}   

/* footer styles */

.footer-content {
    background-color:#252424;
    display: grid;
    grid-template-columns: repeat(2, 300px);
}
.subtitle {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

}

.description {
    color:#A1A1A6;
    font-size: 14px;
}

.head {
    justify-content: left; 
}


.copyright {
    background-color:#020202;
    height: 55px;
    text-align: center;
    color: #86868B;
    font-size: 13px;
}








